.combat-art--container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5mm;
}

.combat-art--card {
  padding: 1rem;
  background-color: white;
  width: 64mm;
  height: 89mm;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.combat-art--card h6 {
  font-size: 12px;
  line-height: 0.5;
  color: black;
}

.combat-art--card span.MuiTypography-caption {
  font-size: 6px;
  line-height: 0.5;
  color: black;
}

.combat-art--card p.MuiTypography-body1 {
  font-size: 10px;
  line-height: 1.25;
  color: black;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    break-after: page;
  }
}

@page {
  /*size: a4 portrait;*/
  size: 195mm 270mm;
  margin: 1mm;
}