/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 6rem;
  text-align: center;
  overflow: hidden;
  min-height: calc(100vh - 60px);
}

.heroContainer {
  padding: 1rem 2rem 0.5rem;
  background-color: rgba(0,0,0,0.5);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  color: white;
}

.contentContainer {
  padding: 1rem 2rem 0.5rem;
  background-color: rgba(184, 129, 12, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  color: white;
  margin-top: 3rem;
  margin-inline: auto;
  text-align: left;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: var(--ifm-navbar-background-color);
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  min-width: 5rem;
  width: 20rem;
  flex-grow: 1;
}

.card:hover {
  background: var(--ifm-color-emphasis-200);
}

.card h2 {
  color: var(--ifm-navbar-link-color);
  margin: 0;
}

.card:hover h2 {
  color: var(--ifm-navbar-link-hover-color);
  text-decoration: none;
}

.card:active {
  transform: scale(0.9);
}