@media all {
	.page-break {
		display: none;
	}
}

@media print {
	.page-break {
		display: block !important;
		break-after: page !important;
	}
}

@page {
	size: 267mm 192mm !important;
	margin: 0.5mm !important;
}
